
/* Justified text left and right */

.cm-s-obsidian,
.markdown-preview-view {
  text-align: justify;
  hyphens: auto;
}

img[alt*="center"]{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block-language-desmos-graph{
  display: flex;
  justify-content: center;
  align-items: center;
}

table, .table-wrapper {
  margin-inline: auto;
}
